## 1. 토픽모델링을 최적의  토픽 10가지로 해보시오

In [4]:
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation

# 모토사이클, 야구, 그래픽스, 윈도우즈, 중동, 기독교, 의학, 우주 주제를 추출. 
cats = ['rec.motorcycles', 'rec.sport.baseball', 'comp.graphics', 'comp.windows.x',
        'talk.politics.mideast', 'soc.religion.christian', 'sci.electronics', 'sci.med'  ]

# 위에서 cats 변수로 기재된 category만 추출. featch_20newsgroups( )의 categories에 cats 입력
news_df= fetch_20newsgroups(subset='all',remove=('headers', 'footers', 'quotes'), 
                            categories=cats, random_state=0)

#LDA 는 Count기반의 Vectorizer만 적용합니다.

CountVectorizer Shape: (7862, 1000)

In [5]:
# 토픽 개수를 조정 ( 뽑아낸 주제 개수에 맞게 )

LatentDirichletAllocation(random_state=0)

In [6]:
# components_에 속성값을 확인

(10, 1000)

array([[2.58001201e-01, 1.29377489e+02, 5.02132701e-01, ...,
        2.13799259e+01, 3.73458817e+01, 6.51392548e+01],
       [1.00009998e-01, 1.93827427e+01, 1.00002400e-01, ...,
        1.09992156e+02, 1.00011611e-01, 9.61851120e+01],
       [5.14244267e+01, 1.00010201e-01, 5.35777450e+00, ...,
        1.00016343e-01, 1.00018638e-01, 1.00003283e-01],
       ...,
       [1.00011561e-01, 9.82688962e+00, 1.00007650e-01, ...,
        8.24549405e+01, 1.00003941e-01, 1.00010391e-01],
       [3.64562789e+02, 3.64618153e+01, 1.66880915e+02, ...,
        1.05438562e-01, 1.16866479e+02, 1.00022307e-01],
       [4.72818765e+01, 1.35063813e+01, 9.65915068e+00, ...,
        1.39222242e+01, 9.38732557e+00, 1.33353946e+01]])

In [7]:
def display_topics(model, feature_names, no_top_words):
    for topic_index, topic in enumerate(model.components_):
        print('Topic #',topic_index)

        # components_ array에서 가장 값이 큰 순으로 정렬했을 때, 그 값의 array index를 반환. 
        topic_word_indexes = topic.argsort()[::-1] # array 정렬
        top_indexes=topic_word_indexes[:no_top_words]
        
        # top_indexes대상인 index별로 feature_names에 해당하는 word feature 추출 후 join으로 concat
        feature_concat = ' '.join([feature_names[i] for i in top_indexes])                
        print(feature_concat)

# CountVectorizer객체내의 전체 word들의 명칭을 get_features_names( )를 통해 추출

# Topic별 가장 연관도가 높은 word를 15개만 추출

Topic # 0
year 10 game medical health team 12 disease cancer games 20 patients years 92 baseball
Topic # 1
don said know just people like didn time did right going went say ll think
Topic # 2
image file jpeg program images files format color gif output entry bit use version programs
Topic # 3
think don people just does like know believe good say question way point time make
Topic # 4
armenian israel jews turkish armenians people jewish israeli government dos dos war arab turkey armenia genocide
Topic # 5
edu com mail graphics information send list computer email thanks know university address info software
Topic # 6
god jesus church christ sin faith man love christian bible people lord christians life believe
Topic # 7
like use just ve bike thanks does used need know good time don work problem
Topic # 8
00 03 law 02 04 homosexuality adl new homosexual lost paul 01 05 san won
Topic # 9
window server dos windows use available motif file ftp version edu display sun pub widget

## 2. 주어진 뉴스 그룹 데이터로 문서 군집화를 4군집으로 수행하시오.

In [15]:
import pandas as pd
import glob ,os

# 아래는 제 컴퓨터에서 압축 파일을 풀어 놓은 디렉토리이니, 여러분의 디렉토리를 설정해 주십시요  
path = './OpinosisDataset1.0/topics'                     
# path로 지정한 디렉토리 밑에 있는 모든 .data 파일들의 파일명을 리스트로 취합
all_files = glob.glob(os.path.join(path, "*.data"))    
filename_list = []
opinion_text = []

# 개별 파일들의 파일명은 filename_list 리스트로 취합, 
# 개별 파일들의 파일내용은 DataFrame로딩 후 다시 string으로 변환하여 opinion_text 리스트로 취합 
for file_ in all_files:
    # 개별 파일을 읽어서 DataFrame으로 생성 
    df = pd.read_table(file_,index_col=None, header=0,encoding='latin1')

    # 절대경로로 주어진 file 명을 가공. 만일 Linux에서 수행시에는 아래 \\를 / 변경. 맨 마지막 .data 확장자도 제거
    filename_ = file_.split('\\')[-1]
    filename = filename_.split('.')[0]

    #파일명 리스트와 파일내용 리스트에 파일명과 파일 내용을 추가. 
    filename_list.append(filename)
    opinion_text.append(df.to_string())

# 파일명 리스트와 파일내용 리스트를  DataFrame으로 생성
document_df = pd.DataFrame({'filename':filename_list, 'opinion_text':opinion_text})
document_df.head()

,filename,opinion_text
0,accuracy_garmin_nuvi_255W_gps,...
1,bathroom_bestwestern_hotel_sfo,...
2,battery-life_amazon_kindle,...
3,battery-life_ipod_nano_8gb,...
4,battery-life_netbook_1005ha,...

In [16]:
from nltk.stem import WordNetLemmatizer
import nltk
import string

# 구두점을 제거하는 딕셔너리 생성

# WordNetLemmatizer 객체 생성

def LemTokens(tokens):
    # WordNetLemmatizer를 사용하여 토큰 리스트의 각 토큰을 원형으로 변환
    return [lemmar.lemmatize(token) for token in tokens]

def LemNormalize(text):
    # 소문자 변환, 구두점 제거, 토큰화 후 원형으로 변환하는 함수
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

# TfidfVectorizer 객체 생성


# opinion_text 컬럼값으로 feature vectorization 수행

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:408: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  warnings.warn(

In [18]:
from sklearn.cluster import KMeans

# KMeans 객체 생성 및 군집화 수행


# 각 문서의 군집 할당 정보 추출

# 각 군집의 중심 위치 정보 추출

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [20]:
# 군집 할당 정보를 DataFrame에 추가

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,1
1,bathroom_bestwestern_hotel_sfo,...,2
2,battery-life_amazon_kindle,...,3
3,battery-life_ipod_nano_8gb,...,3
4,battery-life_netbook_1005ha,...,3

In [21]:
# 군집 레이블이 0인 데이터를 선택하고 파일명으로 정렬하여 출력

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,...,0
7,comfort_toyota_camry_2007,...,0
16,gas_mileage_toyota_camry_2007,...,0
17,interior_honda_accord_2008,...,0
18,interior_toyota_camry_2007,...,0
22,mileage_honda_accord_2008,...,0
25,performance_honda_accord_2008,...,0
29,quality_toyota_camry_2007,...,0
37,seats_honda_accord_2008,...,0
47,transmission_toyota_camry_2007,...,0

In [22]:
# 군집 레이블이 1인 데이터를 선택하고 파일명으로 정렬하여 출력

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,1
5,buttons_amazon_kindle,...,1
8,directions_garmin_nuvi_255W_gps,...,1
9,display_garmin_nuvi_255W_gps,...,1
10,eyesight-issues_amazon_kindle,...,1
11,features_windows7,...,1
12,fonts_amazon_kindle,...,1
19,keyboard_netbook_1005ha,...,1
23,navigation_amazon_kindle,...,1
27,price_amazon_kindle,...,1
33,satellite_garmin_nuvi_255W_gps,...,1
34,screen_garmin_nuvi_255W_gps,...,1
35,screen_ipod_nano_8gb,...,1
36,screen_netbook_1005ha,...,1
41,size_asus_netbook_1005ha,...,1
43,speed_garmin_nuvi_255W_gps,...,1
44,speed_windows7,...,1
48,updates_garmin_nuvi_255W_gps,...,1
49,video_ipod_nano_8gb,...,1
50,voice_garmin_nuvi_255W_gps,...,1

In [23]:
# 군집 레이블이 2인 데이터를 선택하고 파일명으로 정렬하여 출력

,filename,opinion_text,cluster_label
1,bathroom_bestwestern_hotel_sfo,...,2
13,food_holiday_inn_london,...,2
14,food_swissotel_chicago,...,2
15,free_bestwestern_hotel_sfo,...,2
20,location_bestwestern_hotel_sfo,...,2
21,location_holiday_inn_london,...,2
24,parking_bestwestern_hotel_sfo,...,2
28,price_holiday_inn_london,...,2
32,room_holiday_inn_london,...,2
30,rooms_bestwestern_hotel_sfo,...,2
31,rooms_swissotel_chicago,...,2
38,service_bestwestern_hotel_sfo,...,2
39,service_holiday_inn_london,...,2
40,service_swissotel_hotel_chicago,...,2
45,staff_bestwestern_hotel_sfo,...,2
46,staff_swissotel_chicago,...,2

In [24]:
# 군집 레이블이 3인 데이터를 선택하고 파일명으로 정렬하여 출력

,filename,opinion_text,cluster_label
2,battery-life_amazon_kindle,...,3
3,battery-life_ipod_nano_8gb,...,3
4,battery-life_netbook_1005ha,...,3
26,performance_netbook_1005ha,...,3
42,sound_ipod_nano_8gb,headphone jack i got a clear case for it a...,3